Source: emoncms-module-rfm12pi
Section: non-free/web
Priority: optional
Maintainer: Dave McCraw <dave@mccraw.co.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2

Package: emoncms-module-rfm12pi
Architecture: any
Depends: emoncms
Breaks: emoncms-raspberrypi
Description: The emoncms 'raspberrypi' module. See https://github.com/emoncms/raspberrypi

