Source: emoncms-raspberrypi
Section: non-free/web
Priority: optional
Maintainer: Dave McCraw <dave@mccraw.co.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2

Package: emoncms-raspberrypi
Architecture: any
Depends: emoncms
Description: The emoncms raspberry pi module.

